// -----------------------------------------------------------------------------
// This file contains general application typography styles.
// -----------------------------------------------------------------------------


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal 125% / 1.4 $text-font-stack;
}
