// -----------------------------------------------------------------------------
// This file contains all application-wide colors.
// -----------------------------------------------------------------------------

// map for main project-wide colors
$colors: (
        dark: #000000,
        light: #ffffff
);